<p id="notice"><%= notice %></p>

<p>
  <strong>Id num:</strong>
  <%= @staff.id_num %>
</p>

<p>
  <strong>Name:</strong>
  <%= @staff.name %>
</p>

<p>
  <strong>Sch name:</strong>
  <%= @staff.sch_name %>
</p>

<p>
  <strong>Sch code:</strong>
  <%= @staff.sch_code %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @staff.photo %>
</p>

<p>
  <strong>County:</strong>
  <%= @staff.county %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @staff.phone %>
</p>

<p>
  <strong>Address:</strong>
  <%= @staff.address %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @staff.gender %>
</p>

<p>
  <strong>Job:</strong>
  <%= @staff.job %>
</p>

<p>
  <strong>Staff:</strong>
  <%= @staff.staff_id %>
</p>

<p>
  <strong>Academic:</strong>
  <%= @staff.academic %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @staff.bio %>
</p>

<%= link_to 'Edit', edit_staff_path(@staff) %> |
<%= link_to 'Back', staffs_path %>
