<p id="notice"><%= notice %></p>

<p>
  <strong>Adm:</strong>
  <%= @student.adm %>
</p>

<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @student.dob %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @student.gender %>
</p>

<p>
  <strong>Sch name:</strong>
  <%= @student.sch_name %>
</p>

<p>
  <strong>Sch code:</strong>
  <%= @student.sch_code %>
</p>

<p>
  <strong>County:</strong>
  <%= @student.county %>
</p>

<p>
  <strong>Form:</strong>
  <%= @student.form %>
</p>

<p>
  <strong>Stream:</strong>
  <%= @student.stream %>
</p>

<p>
  <strong>Dorm:</strong>
  <%= @student.dorm %>
</p>

<p>
  <strong>Admitted on:</strong>
  <%= @student.admitted_on %>
</p>

<p>
  <strong>Previous sch:</strong>
  <%= @student.previous_sch %>
</p>

<p>
  <strong>Kcpe:</strong>
  <%= @student.kcpe %>
</p>

<p>
  <strong>Email:</strong>
  <%= @student.email %>
</p>

<p>
  <strong>Parent:</strong>
  <%= @student.parent %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @student.bio %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
