<p id="notice"><%= notice %></p>

<p>
  <strong>Id no:</strong>
  <%= @teacher.id_no %>
</p>

<p>
  <strong>Name:</strong>
  <%= @teacher.name %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @teacher.dob %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @teacher.gender %>
</p>

<p>
  <strong>Sch name:</strong>
  <%= @teacher.sch_name %>
</p>

<p>
  <strong>Sch code:</strong>
  <%= @teacher.sch_code %>
</p>

<p>
  <strong>County:</strong>
  <%= @teacher.county %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @teacher.phone %>
</p>

<p>
  <strong>Address:</strong>
  <%= @teacher.address %>
</p>

<p>
  <strong>Academic:</strong>
  <%= @teacher.academic %>
</p>

<p>
  <strong>Employed on:</strong>
  <%= @teacher.employed_on %>
</p>

<p>
  <strong>Department:</strong>
  <%= @teacher.department %>
</p>

<p>
  <strong>Employer:</strong>
  <%= @teacher.employer %>
</p>

<p>
  <strong>Employee num:</strong>
  <%= @teacher.employee_num %>
</p>

<p>
  <strong>Email:</strong>
  <%= @teacher.email %>
</p>

<p>
  <strong>Parent:</strong>
  <%= @teacher.parent %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @teacher.bio %>
</p>

<%= link_to 'Edit', edit_teacher_path(@teacher) %> |
<%= link_to 'Back', teachers_path %>
