<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @school.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @school.name %>
</p>

<p>
  <strong>Motto:</strong>
  <%= @school.motto %>
</p>

<p>
  <strong>Logo:</strong>
  <%= @school.logo %>
</p>

<p>
  <strong>Location:</strong>
  <%= @school.location %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @school.phone %>
</p>

<p>
  <strong>Address:</strong>
  <%= @school.address %>
</p>

<p>
  <strong>Stype:</strong>
  <%= @school.stype %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @school.bio %>
</p>

<%= link_to 'Edit', edit_school_path(@school) %> |
<%= link_to 'Back', schools_path %>
